@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--color-text-secondary);
  padding: 20px 30px;

  @include respond(tablet) {
    gap: 15px;
  }

  @include respond(mobile) {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  &__info {
    display: flex;
  }

  &__social {
    display: flex;
    gap: 10px;
  }

  &__links {
    display: flex;
    gap: 10px;
  }
}
